<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
        <h1>Home</h1>
        <p>Click <a href="/get_issues">here</a> to view all issues</p>
        <p>Click <a href="/get_issue">here</a> to find an issue by ID</p>
        <p>Click <a href="/add_one">here</a> to insert new custom issue</p>
        <p>Click <a href="/create_N">here</a> to insert N arbitrary issues</p>
        <form action="/create_one" method="post">
            <input type="submit" value="Create One" />
        </form>
</body>
</html>
